<!--Sub Navigation-->
<div id="subnav-wrap" class="nav-main">
   <div id="subnav">
      <ul class="menu nav">
         <li class="first">
            <a href="#">入门</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{ site.gdeurl }}release-notes/bk-release-notes.html">发行说明</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}architecture/bk-architecture.html">Magento结构</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">系统管理员</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{ site.gdeurl }}install-gde/bk-install-guide.html">安装手册</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}comp-mgr/bk-compman-upgrade-guide.html">系统升级及组件管理</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}config-guide/bk-config-guide.html">配置手册</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}migration/bk-migration-guide.html">搬家迁移手册</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="#">开发者</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{ site.gdeurl }}frontend-dev-guide/bk-frontend-dev-guide.html">前端开发手册</a>
               <li class="first leaf"><a href="{{ site.gdeurl }}ui-components/ui-component.html">UI组件</a>
   			   <li class="first leaf"><a href="{{ site.gdeurl }}javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript开发手册</a>
               <div class="divider"></div></li>
               <li class="first leaf"><a href="{{ site.gdeurl }}extension-dev-guide/bk-extension-dev-guide.html">PHP开发手册</a></li>

               <li class="leaf"><a href="{{ site.gdeurl }}mtf/mtf_introduction.html">Magento测试框架手册</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}pattern-library/bk-pattern.html">Magento后台库</a></li>
               <div class="divider"></div></li>
               <li class="leaf"><a href="{{ site.gdeurl }}get-started/bk-get-started-api.html">Magento Web API入门</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}rest/bk-rest.html">REST Reference</a></li>
               <li class="leaf"><a href="{{ site.gdeurl }}soap/bk-soap.html">SOAP Reference</a>
               <div class="divider"></div></li>
               <li class="leaf"><a href="{{ site.gdeurl }}coding-standards/bk-coding-standards.html">编码标准</a></li>
            </ul>
         </li>

         <li class="first">
            <a href="#">贡献者</a>
            <ul class="menu nav">
               <li class="first leaf"><a href="{{ site.gdeurl }}contributor-guide/contributing.html">贡献者手册</a></li>
            </ul>
         </li>
         <li class="first">
            <a href="{{ site.gdeurl }}howdoi/bk-how-do-i.html">我能做什么.?</a>
         </li>
      </ul>

      <div class ="search">
         <div class="search-icon"></div>
         <form id="searchbox" name="gs" method="GET" action="#searchResultsBox">
            <input type="hidden" name="cx" value="018116925022773002786:klu67apuihk" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input type="text" name="q" id="searchtext" value="" placeholder="Search">
         </form>
      </div><!-- END searchbox-->

      <a href="#" class="nav-close">&times;</a>

   </div> <!--End subnav -->
</div><!--End subnav-wrap -->
<div class="nav-main-fader"></div>
